*{
    margin:0;
}

html,body{
    height:100%;
    width:100%;
}
/*  main nav bar */
.a {
    position:fixed;
    top:0%;
    width:100%;
    height:70px;
    background:#607D8B;
    z-index:2;
    
}

.a  {
  list-style-type: none;
  margin: 0;
}

.a  li {
  display: inline-block;
  padding: 30px 20px 0px 20px;
  line-height: 10px;
  height: 40px;
}

.a  li a {
  text-decoration: none;
  color: #dbe2f1;
}

.a  li:hover {
  background-color: #797979;
  cursor: pointer;
}

/*  shop nav bar */

ul.c {
    position:fixed;
    top:69px;
    width:100%;
    height:60px;
    background:#90A4AE;
    z-index:2;
    font-size: larger;
    
}

ul.c li {
    list-style:none;
    position:relative;
    top:40%;
    left:60%;
    display:inline;
    margin:30px;
    color:#78909C;
    
}

ul.c li a{
    text-decoration: none;
    color:white;
}

ul.c li a:hover{
    border-bottom: 2px solid #ccc;
    padding-bottom: 8px;
    
}

#sec1{
    position: absolute;
    top:86%;
    height:110%;
    width:100%;
    background:none;
    font-size: 40px;
    
}

#img-cloud{
    position: absolute;
    top:0;
    left:60%;
    height:100%;
    width:40%;
    z-index:1;
}





#sec2{
    position: absolute;
    top:160%;
    width:100%;
    height:35%;
    z-index:5;
    background:grey;
   
}

.fa-facebook{
    color:white;
     padding:6%;
     text-align:center;
     position:relative;
     left:25%;
}
.fa-facebook:hover{
    color:grey;
     
}

.fa-twitter{
    color:white;
     padding:8%;
     text-align:center;
     position:relative;
     left:8%;
}
.fa-twitter:hover{
    color:grey;
     
}

.fa-instagram{
    color:white;
     padding:8%;
     text-align:center;
     position:relative;
     left:8%;
}
.fa-instagram:hover{
    color:grey;
     
}

.fa-linkedin{
    color:white;
     padding:8%;
     text-align:center;
     position:relative;
     left:8%;
}
.fa-linkedin:hover{
    color:grey;
     
}


#sec2 a{
    background:#90A4AE;
    position:absolute;
    top:0%;
    border-radius:50%;
    padding:4%;
    width:7%;
}




#sec2 .box{
    position:absolute;
    left:20%;
    top:17%;
    width:90%;
    height:50%;
}

#sec2 .box2{
    position:absolute;
    left:37%;
    top:17%;
    width:90%;
    height:50%;
}

#sec2 .box3{
    position:absolute;
    left:54%;
    top:17%;
    width:90%;
    height:50%;
}

#sec2 .box4{
    position:absolute;
    left:71%;
    top:17%;
    width:90%;
    height:50%;
}



#find{
    text-align:center;
}



#salesforce{
    position:absolute; 
    top:20%;
    left:72%;
    z-index:1;
}

#cloud9{
    position:absolute; 
    top:65%;
    left:4%;
    z-index:1;
}

#amazon{
    position:absolute; 
    top:110%;
    right:8%;
    z-index:1;
}

#gmail{
    position:absolute; 
    top:145%;
    left:5%;
    z-index:1;
    
}

#saas{
    position: absolute;
    top:20%;
    left:10%;
}
#saas-info{
  position: absolute;
    top:25%;
    left:5%;
    
}

#paas{
    position: absolute;
    top:65%;
    right:20%;
}
#paas-info{
  position: absolute;
    top:79%;
    right:5%;
    
}

#iaas{
    position: absolute;
    top:105%;
    left:10%;
}
#iaas-info{
  position: absolute;
    top:110%; 
    left:5%;
    
}

#caas{
    position: absolute;
    top:150%;
    right:10%;
}
#caas-info{
  position: absolute;
  top:155%; 
  right:5%;
    
}

#logo{
    
     display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height:20%;
    
    
}

.header-image {
    background: url("https://res.cloudinary.com/dbnugenbb/image/upload/v1458915250/apple-desk-laptop-working1280_zesrlm.jpg") no-repeat center center fixed;
  background-size: cover;
  }

.header {
  padding-top: 20%;
  padding-bottom: 25%;
  color: white;
  text-shadow: 2px 2px 2px black;
  text-align: center;
}

#office{
    float: right;
    height:25%;
    margin-right:5%;
}