*{
    margin-left:0;
}

/*  main nav bar */
.a {
    position:fixed;
    top:0%;
    width:100%;
    height:70px;
    background:#607D8B;
    z-index:2;
    
}

.a  {
  list-style-type: none;
  margin: 0;
}

.a  li {
  display: inline-block;
  padding: 30px 20px 0px 20px;
  line-height: 10px;
  height: 40px;
}

.a  li a {
  text-decoration: none;
  color: #dbe2f1;
}

.a  li:hover {
  background-color: #797979;
  cursor: pointer;
}

/*  shop nav bar */

ul.c {
    position:fixed;
    top:40px;
    width:100%;
    height:60px;
    background:#90A4AE;
    z-index:2;
    font-size: larger;
    
}

ul.c li {
    list-style:none;
    position:relative;
    top:40%;
    left:60%;
    display:inline;
    margin:30px;
    color:#78909C;
    
}

ul.c li a{
    text-decoration: none;
    color:white;
}

ul.c li a:hover{
    border-bottom: 2px solid #ccc;
    padding-bottom: 8px;
    
}


.products{
    position: absolute;
    top: 16%;
    left: 0%;
    height:100%;
    width:100%;
}

.products h1{
    position: absolute;
    top: 10%;
    left: 42%;
}

.products .lblsalesforce{
    position: absolute;
    top: 20%;
    left: 13%;
}

.products #imgsalesforce{
    position: absolute;
    height:100px;
    width:140px;
    top: 25%;
    left: 13%;
}

.products .lblcloud9{
    position: absolute;
    top: 20%;
    left: 33%;
}

.products #imgcloud9{
    position: absolute;
    height:100px;
    width:140px;
    top: 25%;
    left: 33%;
}

.products .lblaws{
    position: absolute;
    top: 20%;
    left: 53%;
}

.products #imgamazon{
    position: absolute;
    height:100px;
    width:140px;
    top: 25%;
    left: 53%;
}

.products .lblgmail{
    position: absolute;
    top: 20%;
    left: 73%;
}

.products #imggmail{
    position: absolute;
    height:120px;
    width:140px;
    top: 25%;
    left: 73%;
}

.products .lblsubtotal{
    position: absolute;
    top: 50%;
    left: 43%;
}
.products .lbldiscount{
    position: absolute;
    top: 55%;
    left: 43%;
}
.products .lblvat{
    position: absolute;
    top: 60%;
    left: 43%;
}

.products .lbltotal{
    position: absolute;
    top: 65%;
    left: 43%;
}

.btnAdd{
    position: absolute;
    top: 71%;
    left: 43%;
}

.btnAdd_style{
width: 250px;
  margin: 20px auto;
  padding: 10px;
  
  background-color: #fff;
  border: 1px solid #ccc;

  color: #000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
  border-color: #dedede;
}



.btnAdd:hover{
    cursor: pointer;
}

.btnCalculate{
    position: absolute;
    top: 80%;
    left: 43%;
    
    background-color: #00ACC1;
    border: none;
    color: #000;
    text-align: center;
    text-decoration: none;
    padding: 6px 6px;
    border-radius: 3px;
    font-size: 75%;
    text-transform: uppercase;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
  border-color: #dedede;
}

.btnCalculate:hover{
    cursor: pointer;
}

.btnClear{
    position: absolute;
    top: 80%;
    left: 53%;
    
    text-decoration: none;
    color: red;
    padding: 4px 4px;
    border: solid 1px red;
    border-radius: 3px;
}



        /* E-business page 2 styling */
.ebus2_heading{
    position: absolute;
    top: 10%;
    left: 42%;
}

.lbl_name{
    position: absolute;
    top: 20%;
    left: 43%;
}

.lbl_email{
    position: absolute;
    top: 25%;
    left: 43%;
}

.lbl_pin{
    position: absolute;
    top: 30%;
    left: 43%;
}

.btn_proceed{
    position: absolute;
    top: 35%;
    left: 43%;
    
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px 5px;
    border-radius: 3px;
    font-size: 90%;
}

.btn_proceed:hover{
    cursor: pointer;
}

.btn_validate{
    position: absolute;
    top: 40%;
    left: 43%;
    
    background-color: #008CBA;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px 5px;
    border-radius: 3px;
    font-size: 90%;
}

.btn_validate{
    cursor: pointer;
}

        /* E-business page 3 styling */
        
.ebus3_heading{
    position: absolute;
    top: 20%;
    left: 40%;
}
.ebus3_name{
    position: absolute;
    top: 30%;
    left: 40%;
}

.ebus3_email{
    position: absolute;
    top: 35%;
    left: 40%;
}

.ebus3_total{
    position: absolute;
    top: 40%;
    left: 40%;
}

