*{
    margin:0;
}

html,body{
    height:100%;
    width:100%;
}

.a {
    position:fixed;
    top:0%;
    width:100%;
    height:70px;
    background:#607D8B;
    z-index:3;
    
}

.a  {
  list-style-type: none;
  margin: 0;
}

.a  li {
  display: inline-block;
  padding: 30px 20px 0px 20px;
  line-height: 10px;
  height: 40px;
}

.a  li a {
  text-decoration: none;
  color: #dbe2f1;
}

.a  li:hover {
  background-color: #797979;
  cursor: pointer;
  z-index:2;
}

.section{
    text-align: center;
     z-index:2;
}
#section1{
    background:white;
     z-index:1;
    
}

#section2{
    background:white;
}

#section3{
    background:white;
}




/* header */
h1 {
  position: absolute;
  color: #1C2541;
  text-align: center;
  top:12%;
  left:5%;
}

/* button div */
#buttons {
  padding-top: 50px;
  text-align: center;
}

.btn {
  top:40%;
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  left:30%;
  z-index:3;
  
  display: inline-block;
}

.btn:active {
  transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.travel {
  background-color: #3A506B;
  box-shadow: 0px 5px 0px 0px #00838F;
}

.travel:hover {
  background-color: #006064;
}

.sports {
  background-color: #5BC0BE;
  box-shadow: 0px 5px 0px 0px #0097A7;
}

.sports:hover {
  background-color: #00ACC1;
}

.cloud {
  background-color: #6FFFE9;
  box-shadow: 0px 5px 0px 0px #80CBC4;
}

.cloud:hover {
  background-color: #4DD0E1;
}

#img5 {
    position: absolute;
    top:8.4%;
    left:0;
    height:38%;
    width:56%;
}

#img3 {
    position: absolute;
    top:46.4%;
    left:0%;

}

#img4 {
    position: absolute;
    top:47.2%;
    right:0%;
    height:47%;
    width:23%;
    
}

#img2 {
    position: absolute;
    top:8.4%;
    right:0%;
    height:45%;
    width:44%;
    
}

#img1 {
    position: absolute;
    top:53.4%;
    left:38.5%;
    height:40.6%;
    width:40%;
    
}

#img6 {
    position: absolute;
    top:8.4%;
    left:0;
    height:38%;
    width:56%;
}

#img7 {
    position: absolute;
    top:46.4%;
    left:0%;

}

#img8 {
    position: absolute;
    top:47.2%;
    right:0%;
    height:47%;
    width:23%;
    
}

#img9 {
    position: absolute;
    top:8.4%;
    right:0%;
    height:45%;
    width:44%;
    
}

#section4{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQ7ne96XhCtVjBuJiT5IPoAZnKagtPKqJDGKv0Ptb0pf2oFMHV");
 
  background-size:cover;
  background-repeat: no-repeat;
  
   z-index:1;
}

#section5{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQ7ne96XhCtVjBuJiT5IPoAZnKagtPKqJDGKv0Ptb0pf2oFMHV");
 
  background-size:cover;
  background-repeat: no-repeat;
  
}

#section6{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQ7ne96XhCtVjBuJiT5IPoAZnKagtPKqJDGKv0Ptb0pf2oFMHV");
 
  background-size:cover;
  background-repeat: no-repeat;
  
}

#question{
    top:120px;
    color:white;
}

.welcome{
    position:absolute;
    top:30%;
    left:26%;
    z-index:3;
    font-size:50;
}

#art{
    position:absolute;
    left:65%;
    top:33%;
    height:30%;
    width:35%;
}
#educ{
    top:125px;
    color:white;
}

#intro{
    color:white;
    position: absolute;
    top:30%;
    font-size: 20px;
    left:10px;
}

#list1{
    font-size:25px;
}

#social{
    top:125px;
    color:white;
}
#soc{
    top:130px;
    font-size:25px;
}






